h1{
    color: red;
    font: 40px;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
    width: 32%;
    height: 25vh;
    border: 1px solid gray;
    margin:auto;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}