*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: none;
}
body{
    background-color: #89CFF0

}
h1{
    color: red;
    font: 40px;
}
header{
    text-align: center;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
    width: 21vh;
    height: 21vh;
    border: 1px solid gray;
    margin:3px;
    border-radius: 6px;
    font-size: 10vh;
    text-align: center;
    color:rebeccapurple
}
#b1, #b2,#b3{
    margin-top: 0;
}
#b8,#b9,#b7{
    margin-bottom: 0;
}
.gameboard{
    border:solid black 5px;
    background-color: lightgray;
    margin:auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding:0;
}
#butt{
    width: 95px;
    height: 40px;
    border: 1px solid;
    margin: auto;
    border-radius: 4px;
}